html
  head
    title WebRTC datachannel
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')

  body
    h1 WebRTC datachannel
    block content
    script(src='/javascripts/datachannels.js')
    script(src='/javascripts/controller.js')
